.container{
  font-family: 'Montserrat', sans-serif;
  margin: 20px 50px 0;
}

.content{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.stats{
  margin-top: 30px;
  display: flex;
  gap: 40px;
}

.statsBox{
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul{
  padding: 0;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.columnTitle{
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
}

table{
  font-family: 'Montserrat', sans-serif;
  border-collapse: collapse;
}

th, td{
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #8884d8;
  color: white;
}

@media screen and (max-width: 900px) {
  .stats{
    width: 100%;
    flex-direction: column;
  }
  table{
    width: 100%;
  }
  td{
    text-align: center;
  }
}

